<!DOCTYPE html>

<html>
    <head>

        <title> List of Interviews </title>

    </head>
    <body>

        <ul class="todo-list">

            <div>Hello Reaped</div>
            <% table.forEach(itr => { %>

            <li class="todo-list-item">

                <div class="todo-list-item-name"> <%= itr.content%> </div>

            </li>

            <% }) %>

        </ul>

    </body>
</html>